.navbar-top {
  display: none;
  background-color: #191919;

  &-brand {
    height: 120px;

    &__img {
      height: 100%;
    }
  }

  &-brand:hover {
    cursor: pointer;
  }

  &__form {
    flex-grow: 1;
    display: flex;
    height: 36px;
    line-height: 16px;
  }

  &__search {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 4px 12px;

    &-submit {
      height: 100%;
      border: none;
      background-color: #ffa000;
      padding: 0 24px;

    }
  }

  &__search:hover {

    &-submit:hover {
      cursor: pointer;
    }
  }

  &__icon {
    height: 36px;
    fill: grey;
  }

}

.navbar-bottom {
  &-brand {
    padding: 0 0 0 16px !important;
    height: 40px;

    &__img {
      height: 100%;
    }
  }

  &__icon {
    height: 24px;
    fill: white;
  }

  &__badge {
    position: absolute;
    top: 0;
    left: 16px;
    opacity: .9;
  }

  &__toast {
    margin-top: 52px;
  }

}

.mdb-nav-link {
  position: relative;
}

.mdb-nav-link:hover,
.mdb-nav-link.active {
  color: #ffc107!important;
}

.mdb-dropdown-item:hover {
  background-color: #ffc107!important;
}

.mdb-nav-link:hover > svg,
.mdb-nav-link.active > svg {
  fill: #ffc107!important;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
  .navbar-top {
    display: block;
  }

  .navbar-bottom {
    &-brand {
      padding: 0 !important;

      &__img {
        display: none;
      }
    }

    &__toast {
      margin-top: 172px;
    }

  }

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}


