.equipment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  &__title {
    font-weight: 500;
  }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}



