.header {

  &__carousel-img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    height: calc(100vh - 54px);
  }

  &__btn-link {
    padding-right: 18px;
    padding-left: 18px;
  }

}

@media (min-width: 576px) {
  .header {

    &__btn-link {
      padding-right: 32px;
      padding-left: 32px;
    }

  }
}

@media (min-width: 768px) {
  .header {
    &__carousel-img {
      height: calc(100vh - 176px);
    }
  }
}
